@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --main-font: 'Barlow', sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 9fr;
    min-width: 400px;
}

.header {
    background-color: #dce1de;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

button[type='button'] {
    height: 40px;
    width: 120px;
    background-color: #9CC5A1;
    border-radius: 10px;
    border: solid 2px black;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

button[type='button']:active {
    transform: scale(1.1);
}

.header-text {
    display: flex;
    font-family: var(--main-font);
    font-size: 2.5rem;
    padding: 1rem;
    color: #0047ab;
    font-weight: bold;
}

.main {
    background-color: #9cc5a1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.card {
    background-color: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-evenly;
    font-family: var(--main-font);
    font-size: 1.2rem;
}

/* Begins Modal */

.modal {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 40%;
    background-color: white;
    border: 5px solid black;
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

fieldset div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

fieldset input {
    border: solid 3px #9CC5A1;
    border-radius: 10px;
    width: 225px;
}

fieldset input:focus {
    border: solid 3px grey;
    outline: none;
}

button[type='submit'] {
    border: none;
    background-color: #0047ab;
    color: white;
    font-size: 18px;
    font-family: var(--main-font);
    border-radius: 10px;
    width: 115px;
    height: 30px;
    font-weight: bold;
}


div legend {
    font-family: var(--main-font);
    font-size: 30px;
    font-weight: bold;
    color: #0047ab;
}

div label{
    font-family: var(--main-font);
    font-size: 23px;
    font-weight: 500;
}